In [4]:
from AShareReader import AShareReader
from CephClient import CephClient
import pandas as pd
import numpy as np
import math
import os

In [5]:
reader = AShareReader(dll_path = '{0}/ceph_client/ceph-client.so'.format(os.environ['HOME']), 
               config_path='{0}/dfs/ceph.conf'.format(os.environ['HOME']),
               KEYRING_LOC = '{0}/dfs/ceph.key.keyring'.format(os.environ['HOME']))

In [6]:
writer = CephClient(dll_path = '{0}/ceph_client/ceph-client.so'.format(os.environ['HOME']), 
               config_path='{0}/dfs/ceph.conf'.format(os.environ['HOME']),
               KEYRING_LOC = '{0}/dfs/ceph.key.keyring'.format(os.environ['HOME']))

client.marlowe

In [43]:
df = reader.Read_Stock_Daily('com_md_eq_cn','chnuniv_ic', univ='ic', start_date=20210301, end_date=20210302)
stock_list = df['skey'].to_list()[0:5]

In [9]:
stock_list

[1600006, 1600008, 1600021, 1600022, 1600026]

In [148]:
reader.Read_Stock_Daily('com_md_eq_cn','mdbar1d_jq', start_date=20210301, end_date=20210302, stock_list=stock_list)

,skey,date,time,name,trade_status,listed_days,open,high,low,close,...,marketValue,marketShares,totalShares,SW1_name,SW1_code,SW2_code,SW3_code,index_name,index_weight,exchange
7,1600006,20210301,180000000000,东风汽车,1,5126,6.90,7.09,6.82,7.09,...,1.418000e+10,2.000000e+09,2.000000e+09,申万汽车,SW801880,SW801094,SW850912,IC,0.098777,SSE
9,1600008,20210301,180000000000,首创股份,1,4957,2.94,2.98,2.93,2.94,...,2.158134e+10,7.340591e+09,7.340591e+09,申万公用事业,SW801160,SW801164,SW851621,IC,0.224399,SSE
20,1600021,20210301,180000000000,上海电力,1,4050,6.79,6.83,6.77,6.79,...,1.593780e+10,2.347246e+09,2.617164e+09,申万公用事业,SW801160,SW801161,SW851611,IC,0.123588,SSE
21,1600022,20210301,180000000000,山东钢铁,1,3713,1.43,1.57,1.43,1.57,...,1.718608e+10,1.094655e+10,1.094655e+10,申万钢铁,SW801040,SW801041,SW850411,IC,0.148611,SSE
24,1600026,20210301,180000000000,中远海能,1,4401,6.33,6.37,6.30,6.33,...,1.731909e+10,2.736033e+09,4.762692e+09,申万交通运输,SW801170,SW801176,SW851761,IC,0.152033,SSE
7,1600006,20210302,180000000000,东风汽车,1,5127,7.11,7.15,6.77,6.83,...,1.366000e+10,2.000000e+09,2.000000e+09,申万汽车,SW801880,SW801094,SW850912,IC,0.095970,SSE
9,1600008,20210302,180000000000,首创股份,1,4958,2.94,2.99,2.92,2.96,...,2.172815e+10,7.340591e+09,7.340591e+09,申万公用事业,SW801160,SW801164,SW851621,IC,0.227861,SSE
20,1600021,20210302,180000000000,上海电力,1,4051,6.80,7.47,6.80,7.46,...,1.751046e+10,2.347246e+09,2.617164e+09,申万公用事业,SW801160,SW801161,SW851611,IC,0.136947,SSE
21,1600022,20210302,180000000000,山东钢铁,1,3714,1.57,1.60,1.50,1.51,...,1.652929e+10,1.094655e+10,1.094655e+10,申万钢铁,SW801040,SW801041,SW850411,IC,0.144156,SSE
24,1600026,20210302,180000000000,中远海能,1,4402,6.36,6.36,6.20,6.25,...,1.710021e+10,2.736033e+09,4.762692e+09,申万交通运输,SW801170,SW801176,SW851761,IC,0.151398,SSE

In [15]:
df = reader.Read_Stock_Tick('com_md_eq_cn','md_index', start_date=20210301, end_date=20210302, stock_list=[1000300])

In [20]:
a = df.groupby("date")['close'].shift(1)

In [21]:
a.isna().sum()

2

In [22]:
df.groupby("date")['close'].shift(1).ffill().isna().sum()

1

In [33]:
reader.Read_Stock_Daily('com_md_eq_cn','chnuniv_amac', start_date=20210301, end_date=20210301)

          date  weight     skey  index_id index_name
0     20210301    2.18  1600000   3011046    AMAC 金融
1     20210301    1.85  1600004   3011043    AMAC 交运
2     20210301    0.57  1600006   3030063    AMAC 汽车
3     20210301    0.25  1600007   3011047    AMAC 地产
4     20210301    2.00  1600008   3011041    AMAC 公用
...        ...     ...      ...       ...        ...
4184  20210301    0.00  2300947   3030037    AMAC 商务
4185  20210301    0.00  2300948   3030039    AMAC 公共
4186  20210301    0.00  2300949   3030038    AMAC 科技
4187  20210301    0.00  2300951   3030066    AMAC 电子
4188  20210301    5.87  2300999   3030041    AMAC 农副

[4189 rows x 5 columns]

In [46]:
skey = 2000001
date = 20200102
bench=1000300
database="com_md_eq_cn"

In [75]:
# read index data
ske = reader.Read_Stock_Tick(database, "md_index", start_date=date, end_date=date, stock_list=[bench])
ske = (ske.drop_duplicates(subset=["time"], keep="last")
          .rename(columns={"close": "indexClose"})
          .reset_index(drop=True))

# read industry data
amacStock = reader.Read_Stock_Daily(database, 'chnuniv_amac', start_date=date, end_date=date)
indus_id = amacStock.loc[amacStock.skey==skey, "index_id"].item()
amacData = reader.Read_Stock_Tick(database, "md_index", start_date=date, end_date=date, 
                                  stock_list=[indus_id])
amacData = (amacData.drop_duplicates(subset=['time'], keep='last')
                    .sort_values(['skey', 'time'])
                    .rename(columns={"close": "industryClose"})
                    .reset_index(drop=True))

# read stock tick data
tstock = reader.Read_Stock_Tick(database, "md_snapshot_l2", start_date=date, end_date=date, stock_list=[skey])

tstock = tstock[((tstock.bid1p != 0) | (tstock.ask1p != 0))].reset_index(drop=True)

if (tstock.shape[0] == 0):
    print('%s has no data'%skey)

tstock['session'] = np.where(tstock['time'] < 13 * 1e10, 0, 1)

tstock = tstock[(tstock['time'] >= 9.3 * 1e10) & 
                (tstock['time'] < 14.5655 * 1e10)].reset_index(drop=True)

In [76]:
# merge industry close and index close
tstock = (tstock.merge(ske[["time", "indexClose"]], on=["time"], how="left", validate="one_to_one")
                    .merge(amacData[["time", "industryClose"]], on=["time"], how="left", validate="one_to_one"))
tstock[["indexClose", "industryClose"]] = tstock[["indexClose", "industryClose"]].shift(1).ffill()

In [73]:
tstock.time.count()

4829

In [78]:
tstock.shape

(4829, 195)

In [61]:
tstock.columns

Index(['skey', 'date', 'time', 'clockAtArrival', 'ordering', 'has_missing',
       'cum_trades_cnt', 'cum_volume', 'cum_amount', 'prev_close',
       ...
       'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
       'cum_canceled_buy_amount', 'cum_canceled_sell_orders',
       'cum_canceled_sell_volume', 'cum_canceled_sell_amount', 'ApplSeqNum',
       'BizIndex', 'session', 'indus_id'],
      dtype='object', length=194)

In [35]:
('%s has no data'%skey)

'30202 has no data'

In [77]:
tstock[tstock.time > 9.4e10]

,skey,date,time,clockAtArrival,ordering,has_missing,cum_trades_cnt,cum_volume,cum_amount,prev_close,...,cum_canceled_buy_volume,cum_canceled_buy_amount,cum_canceled_sell_orders,cum_canceled_sell_volume,cum_canceled_sell_amount,ApplSeqNum,BizIndex,session,indexClose,industryClose
201,2000001,20200102,94003000000,1577929203000000,320,0,13683,43820736,7.355813e+08,16.45,...,0,0.0,0,0,0.0,2375574,-1,0,4132.0717,3467.4164
202,2000001,20200102,94006000000,1577929206000000,321,0,13737,43915636,7.371743e+08,16.45,...,0,0.0,0,0,0.0,2383834,-1,0,4132.1422,3466.7137
203,2000001,20200102,94009000000,1577929209000000,322,0,13765,43928736,7.373942e+08,16.45,...,0,0.0,0,0,0.0,2391706,-1,0,4132.1422,3466.8425
204,2000001,20200102,94012000000,1577929212000000,323,0,13810,44036536,7.392025e+08,16.45,...,0,0.0,0,0,0.0,2398333,-1,0,4132.7243,3466.8425
205,2000001,20200102,94015000000,1577929215000000,324,0,13825,44076336,7.398703e+08,16.45,...,0,0.0,0,0,0.0,2405293,-1,0,4132.7243,3467.4228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4824,2000001,20200102,145642000000,1577948202000000,4943,0,67161,152108003,2.555758e+09,16.45,...,0,0.0,0,0,0.0,17563728,-1,1,4151.8429,3460.4249
4825,2000001,20200102,145645000000,1577948205000000,4944,0,67171,152113003,2.555842e+09,16.45,...,0,0.0,0,0,0.0,17569404,-1,1,4151.8429,3460.4249
4826,2000001,20200102,145648000000,1577948208000000,4945,0,67188,152158103,2.556603e+09,16.45,...,0,0.0,0,0,0.0,17573943,-1,1,4152.1270,3460.8555
4827,2000001,20200102,145651000000,1577948211000000,4946,0,67198,152167303,2.556758e+09,16.45,...,0,0.0,0,0,0.0,17578842,-1,1,4152.3087,3460.8555
4828,2000001,20200102,145654000000,1577948214000000,4947,0,67225,152223503,2.557706e+09,16.45,...,0,0.0,0,0,0.0,17583898,-1,1,4152.3087,3460.7010

In [85]:
tstock.date.astype(str) + " " + (tstock.time / 1e6).astype(str)

0        20200102 93000.0
1        20200102 93003.0
2        20200102 93006.0
3        20200102 93009.0
4        20200102 93012.0
              ...
4824    20200102 145642.0
4825    20200102 145645.0
4826    20200102 145648.0
4827    20200102 145651.0
4828    20200102 145654.0
Length: 4829, dtype: object

In [87]:
tstock.date.astype(str).apply(lambda x: x[:4] + "-" + x[4:6] + "-" + x[6:])

0       2020-01-02
1       2020-01-02
2       2020-01-02
3       2020-01-02
4       2020-01-02
           ...
4824    2020-01-02
4825    2020-01-02
4826    2020-01-02
4827    2020-01-02
4828    2020-01-02
Name: date, Length: 4829, dtype: object

In [98]:
pd.DatetimeIndex(tstock.date.astype(str).apply(lambda x: x[:4] + "-" + x[4:6] + "-" + x[6:]) + " " + 
               (tstock.time).astype(str).str.zfill(12).apply(lambda x: x[:2] + ":" + x[2:4] + ":" + x[4:6]))

DatetimeIndex(['2020-01-02 09:30:00', '2020-01-02 09:30:03',
               '2020-01-02 09:30:06', '2020-01-02 09:30:09',
               '2020-01-02 09:30:12', '2020-01-02 09:30:15',
               '2020-01-02 09:30:18', '2020-01-02 09:30:21',
               '2020-01-02 09:30:24', '2020-01-02 09:30:27',
               ...
               '2020-01-02 14:56:27', '2020-01-02 14:56:30',
               '2020-01-02 14:56:33', '2020-01-02 14:56:36',
               '2020-01-02 14:56:39', '2020-01-02 14:56:42',
               '2020-01-02 14:56:45', '2020-01-02 14:56:48',
               '2020-01-02 14:56:51', '2020-01-02 14:56:54'],
              dtype='datetime64[ns]', length=4829, freq=None)

In [100]:
writer.list_dir("/personal_pool/marlowe", "marlowe","")

['/personal_pool/marlowe/MayaFutures']

In [108]:
skey

2000001

In [109]:
reader.Read_Stock_Daily(database, 'chnuniv_amac', start_date=20190101, end_date=20200430, stock_list=[skey])

          date  weight     skey  index_id index_name
1532  20190102    2.35  2000001   3011046    AMAC 金融
1532  20190103    2.35  2000001   3011046    AMAC 金融
1532  20190104    2.48  2000001   3011046    AMAC 金融
1532  20190107    2.48  2000001   3011046    AMAC 金融
1532  20190108    2.47  2000001   3011046    AMAC 金融
...        ...     ...      ...       ...        ...
1628  20200424    3.03  2000001   3011046    AMAC 金融
1629  20200427    3.05  2000001   3011046    AMAC 金融
1629  20200428    3.03  2000001   3011046    AMAC 金融
1630  20200429    3.09  2000001   3011046    AMAC 金融
1630  20200430    3.04  2000001   3011046    AMAC 金融

[323 rows x 5 columns]

In [106]:
daily = reader.Read_Stock_Daily(database, 'mdbar1d_jq', 20190101, 20200430, cols_list=['skey', 'date', 'trade_status'])

In [111]:
writer.get_file_size("/personal_pool/marlowe/staone_research/feature/20200102/2000001.pkl", "marlowe", "") / 1e6

2.088287

In [113]:
3 * 3000 * 400 / 1024

3515.625

In [117]:
a = reader.Read_Stock_Daily(database, 'chnuniv_ih', 20190902, 20190902).skey.unique()

In [141]:
tmp = reader.Read_Stock_Daily(database, 'mdbar1d_jq', 20190830, 20191231, stock_list=[skey], cols_list=['skey', 'date', 'trade_status'])

In [142]:
tmp[tmp.trade_status==0]

Empty DataFrame
Columns: [skey, date, trade_status]
Index: []

In [158]:
tmp = reader.Read_Stock_Daily(database, 'chnuniv_amac', 20190902, 20200902, stock_list=[skey])

In [160]:
tmp.index_name.unique()

array(['AMAC 金融'], dtype=object)

In [ ]:
# reader.Read_Stock_Daily(database, "md_snapshot_l2", start_date=20191030, end_date=20191030, stock_list=[1600030])

In [169]:
tmp

          date  weight     skey  index_id index_name
1560  20190902    2.80  2000001   3011046    AMAC 金融
1560  20190903    2.77  2000001   3011046    AMAC 金融
1560  20190904    2.76  2000001   3011046    AMAC 金融
1560  20190905    2.74  2000001   3011046    AMAC 金融
1561  20190906    2.76  2000001   3011046    AMAC 金融
...        ...     ...      ...       ...        ...
1695  20200827    2.71  2000001   3011046    AMAC 金融
1698  20200828    2.77  2000001   3011046    AMAC 金融
1699  20200831    2.79  2000001   3011046    AMAC 金融
1700  20200901    2.79  2000001   3011046    AMAC 金融
1703  20200902    2.84  2000001   3011046    AMAC 金融

[244 rows x 5 columns]

In [218]:
skey = 2000001
start_date = 20200102
end_date = 20200310
bench=1000300
database="com_md_eq_cn"

In [219]:
database = "com_md_eq_cn"

# read index data
ske = reader.Read_Stock_Tick(database, "md_index", start_date=start_date, end_date=end_date, stock_list=[bench])
ske = (ske.drop_duplicates(subset=["date", "time"], keep="last")
        .rename(columns={"close": "indexClose"})
        .reset_index(drop=True))

# read industry data
amacStock = reader.Read_Stock_Daily(database, 'chnuniv_amac', start_date=start_date, end_date=end_date, stock_list=[skey])
amacStock = amacStock.sort_values("date").rename(columns={"index_id": "AMACCode"}).reset_index(drop=True)
amacStock['tradeConsDay'] = amacStock.index.values

indus_id = amacStock["AMACCode"].unique()
amacData = reader.Read_Stock_Tick(database, "md_index", start_date=start_date, end_date=end_date, 
                                stock_list=indus_id)
amacData = (amacData.drop_duplicates(subset=['date', 'time'], keep='last')
                    .sort_values(['skey', 'time'])
                    .rename(columns={"skey": "AMACCode", "close": "industryClose"})
                    .reset_index(drop=True))

# read stock tick data
try:
    tstock = reader.Read_Stock_Tick(database, "md_snapshot_l2", start_date=start_date, end_date=end_date, stock_list=[skey])
except:
    print('%s has no data'%skey)
    

tstock = tstock[((tstock.bid1p != 0) | (tstock.ask1p != 0))].reset_index(drop=True)

if (tstock.shape[0] == 0):
    print('%s has no data'%skey)
    

tstock['session'] = np.where(tstock['time'] < 13 * 1e10, 0, 1)

tstock = tstock[(tstock['time'] >= 9.3 * 1e10) & 
                (tstock['time'] < 14.5655 * 1e10)].reset_index(drop=True)

# merge industry close and index close
tstock = tstock.merge(amacStock[['date', 'AMACCode', 'tradeConsDay']], how='left', on=['date'], validate="many_to_one")

tstock = (tstock.merge(ske[["date", "time", "indexClose"]], on=["date", "time"], how="left", validate="one_to_one")
                .merge(amacData[["date", "time", 'AMACCode', "industryClose"]], on=["date", "time", "AMACCode"], how="left", validate="one_to_one"))
tstock[["indexClose", "industryClose"]] = tstock[["indexClose", "industryClose"]].shift(1).ffill()
del amacStock, amacData, ske

groupAllData = tstock.groupby(['date'])
tstock['curNearLimit'] = np.where((tstock.ask5q == 0) | (tstock.bid5q == 0), 1.0, 0.0)
tstock['curNearLimit_L1'] = groupAllData['curNearLimit'].shift(1)
tstock['dailyCount'] = groupAllData['time'].transform('count')
tstock['nearLimitCount'] = groupAllData['curNearLimit'].transform('sum')
dateInfo = groupAllData[['dailyCount', 'nearLimitCount', 'tradeConsDay']].mean().reset_index()
del groupAllData
dateInfo['useFlag'] = np.where(dateInfo['nearLimitCount']*2 < dateInfo['dailyCount'], 1, 0)
dateInfo['useConsDay'] = dateInfo['useFlag'].cumsum()
tstock = pd.merge(tstock, dateInfo[['date', 'tradeConsDay', 'useFlag', 'useConsDay']],
                  how='left', on=['date', 'tradeConsDay'], validate='many_to_one')

In [199]:
tstock.groupby("date", as_index=False).cum_amount.mean()

       date    cum_amount
0  20200102  1.890253e+09
1  20200103  1.138801e+09
2  20200106  8.372393e+08
3  20200107  7.077928e+08
4  20200108  7.842950e+08
5  20200109  9.557334e+08
6  20200110  5.648289e+08

In [220]:
dateInfo = tstock.groupby('date', as_index=False)[['tradeConsDay', 'useConsDay']].first()
dateInfo['date'] = pd.to_datetime(dateInfo.date.astype(str))

In [221]:
dateInfo

         date  tradeConsDay  useConsDay
0  2020-01-02             0           1
1  2020-01-03             1           2
2  2020-01-06             2           3
3  2020-01-07             3           4
4  2020-01-08             4           5
5  2020-01-09             5           6
6  2020-01-10             6           7
7  2020-01-13             7           8
8  2020-01-14             8           9
9  2020-01-15             9          10
10 2020-01-16            10          11
11 2020-01-17            11          12
12 2020-01-20            12          13
13 2020-01-21            13          14
14 2020-01-22            14          15
15 2020-01-23            15          16
16 2020-02-03            16          17
17 2020-02-04            17          18
18 2020-02-05            18          19
19 2020-02-06            19          20
20 2020-02-07            20          21
21 2020-02-10            21          22
22 2020-02-11            22          23
23 2020-02-12            23          24
24 2020-02-13            24          25
25 2020-02-14            25          26
26 2020-02-17            26          27
27 2020-02-18            27          28
28 2020-02-19            28          29
29 2020-02-20            29          30
30 2020-02-21            30          31
31 2020-02-24            31          32
32 2020-02-25            32          33
33 2020-02-26            33          34
34 2020-02-27            34          35
35 2020-02-28            35          36
36 2020-03-02            36          37
37 2020-03-03            37          38
38 2020-03-04            38          39
39 2020-03-05            39          40
40 2020-03-06            40          41
41 2020-03-09            41          42
42 2020-03-10            42          43

In [256]:
dateInfo['week'] = dateInfo['date'].dt.isocalendar().week
dateInfo['weekChange'] = dateInfo['week'].diff(1).fillna(1)
dateInfo['weekChange'] = np.where(dateInfo['weekChange'] != 0, 1, 0)
dateInfo.loc[0, 'weekChange'] = 1
dateInfo['week'] = dateInfo['weekChange'].cumsum()
dateInfo['lastWeekday'] = dateInfo['week'].diff(-1)
dateInfo['lastWeekday'] = dateInfo['lastWeekday'].fillna(-1)
maxTradeConsDay = dateInfo['tradeConsDay'].max()

In [257]:
weekInterval = 1
regWindowSize = 20

In [258]:
lastTradeDays = (dateInfo[dateInfo['lastWeekday'] != 0].tradeConsDay).unique()
lastTradeDays = lastTradeDays[(lastTradeDays > regWindowSize) & (lastTradeDays < maxTradeConsDay)][::weekInterval]

In [265]:
trainEndUseConsDays = dateInfo[dateInfo.tradeConsDay.isin(lastTradeDays - 1)].useConsDay.values
trainStartUseConsDays = np.maximum(trainEndUseConsDays - 20 + 1, 1)
testStartUseConsDays = dateInfo[dateInfo.tradeConsDay.isin(lastTradeDays + 1)].useConsDay.values
testEndUseConsDays = np.append(dateInfo[dateInfo.tradeConsDay.isin(lastTradeDays[1:])].useConsDay.values, dateInfo['useConsDay'].max())

In [266]:
trainEndUseConsDays

array([25, 30, 35, 40])

In [267]:
trainStartUseConsDays

array([ 6, 11, 16, 21])

In [268]:
testStartUseConsDays

array([27, 32, 37, 42])

In [269]:
testEndUseConsDays

array([31, 36, 41, 43])

In [271]:
list(zip(trainEndUseConsDays, trainStartUseConsDays,
                                      testStartUseConsDays, testEndUseConsDays))

[(25, 6, 27, 31), (30, 11, 32, 36), (35, 16, 37, 41), (40, 21, 42, 43)]

In [499]:
writer.read_file("/sta_alpha_eq_cn/sta_90_1_1_1_l2/IC/sta20200102.parquet", "sta_alpha_eq_cn", "sta_90_1_1_1_l2")

            skey      date  ordering   yHatBuy  yHatSell
0        1600006  20200102        97 -0.000547 -0.001604
1        1600006  20200102        98 -0.001559 -0.000589
2        1600006  20200102        99 -0.000918 -0.001234
3        1600006  20200102       100 -0.001024 -0.001127
4        1600006  20200102       101 -0.001115 -0.001035
...          ...       ...       ...       ...       ...
2782303  2300699  20200102      4655 -0.000719  0.000510
2782304  2300699  20200102      4656  0.000039 -0.001097
2782305  2300699  20200102      4657  0.000401 -0.000822
2782306  2300699  20200102      4658  0.000179 -0.000601
2782307  2300699  20200102      4659 -0.000887 -0.000383

[2782308 rows x 5 columns]

In [450]:
date = 20200102
sta = 'sta_90_1_1_1_l2'
bench = "IC"

a = AShareReader(dll_path = '{0}/ceph_client/ceph-client.so'.format(os.environ['HOME']), 
               config_path='{0}/dfs/ceph.conf'.format(os.environ['HOME']),
               KEYRING_LOC = '{0}/dfs/ceph.key.keyring'.format(os.environ['HOME']))
c = CephClient(dll_path = '{0}/ceph_client/ceph-client.so'.format(os.environ['HOME']), 
               config_path='{0}/dfs/ceph.conf'.format(os.environ['HOME']),
               KEYRING_LOC = '{0}/dfs/ceph.key.keyring'.format(os.environ['HOME']))

client.marlowe

In [800]:
def _get_eva_md(tstock, forward_period, backward_period):
    tstock = tstock.reset_index(drop=True)
    tstock['index'] = tstock.index.values
    tstock['session'] = np.where(tstock['time'] < 13 * 1e10, 0, 1)

    assert not ((tstock.bid1p == 0) & (tstock.ask1p == 0)).any()
    tstock['safeBid1p'] = np.where(tstock.bid1p == 0, tstock.ask1p, tstock.bid1p)
    tstock['safeAsk1p'] = np.where(tstock.ask1p == 0, tstock.bid1p, tstock.ask1p)
    tstock['mid'] = (tstock.safeBid1p + tstock.safeAsk1p)/2
    assert (tstock['mid'] != 0).all()
    tstock['adjMid'] = (tstock.bid1q * tstock.safeAsk1p + tstock.ask1q * tstock.safeBid1p)/(tstock.bid1q + tstock.ask1q)

    groupAllData = tstock.groupby(['date', 'skey', 'session'])
    tstock['sessionStartIx'] = groupAllData['index'].transform('min')
    for tm in [backward_period]:
        tmCol = 'L{}s_ix'.format(tm)
        tstock[tmCol] = groupAllData['clockAtArrival'].transform(lambda x: findTmValue(x, tm * 1e6, 'L')).astype(int)
    
    for tm in [forward_period]:
        tmCol = 'F{}s_ix'.format(tm)
        tstock[tmCol] = groupAllData['clockAtArrival'].transform(lambda x: findTmValue(x, tm * 1e6, 'F')).astype(int)

    for tm in [forward_period]:
        tmIx = tstock['F{}s_ix'.format(tm)].values + tstock['sessionStartIx'].values
        nanMask = tstock['F{}s_ix'.format(tm)].values == -1
        for col in ['adjMid']:
            targetCol = tstock[col].values[tmIx]
            targetCol[nanMask] = np.nan
            tstock['{}_F{}s'.format(col, tm)] = targetCol
    
    tstock['curNearLimit'] = np.where((tstock.ask5q == 0) | (tstock.bid5q == 0), 1.0, 0.0)
    
    tstock[f'buyRet{forward_period}s'] = (np.where(tstock.curNearLimit == 1, np.NaN, tstock[f'adjMid_F{forward_period}s'] / tstock.ask1p - 1)).clip(-.03,.03)
    tstock[f'sellRet{forward_period}s'] = (np.where(tstock.curNearLimit == 1, np.NaN, tstock.bid1p / tstock[f'adjMid_F{forward_period}s'] - 1)).clip(-.03,.03)

    for tm in [backward_period]:
        tmIx = tstock['L{}s_ix'.format(tm)].values + tstock['sessionStartIx'].values
        nanMask = tstock['L{}s_ix'.format(tm)].values == -1
        for col in ['curNearLimit']:
            targetCol = tstock[col].values[tmIx]
            targetCol[nanMask] = np.nan
            tstock['{}_L{}s'.format(col, tm)] = targetCol  

     # nearLimit == 1 if any nearLimit in past
    tstock['datetime'] = (tstock.date.astype(str).apply(lambda x: x[:4] + "-" + x[4:6] + "-" + x[6:]) + " " + 
                          tstock.time.astype(str).str.zfill(12).apply(lambda x: x[:2] + ":" + x[2:4] + ":" + x[4:6]))
    tstock.set_index(pd.DatetimeIndex(tstock['datetime']), inplace = True)

    tstock[f'nearLimit_L{backward_period}s_L0'] = (groupAllData['curNearLimit'].apply(lambda x:x.rolling(window = f'{backward_period}s', closed='both').max())) 
    tstock['nearLimit'] = (tstock[f'nearLimit_L{backward_period}s_L0'] == 1) | (tstock[f'curNearLimit_L{backward_period}s'] == 1)
    tstock.reset_index(drop=True, inplace=True)

#     col_ls = ['skey', 'date', 'time', 'ordering', 
#               'ask1p', 'ask1q', 'bid1p', 'bid1q',
#               f'buyRet{forward_period}s', f'sellRet{forward_period}s', 'nearLimit',
#               'cum_volume', 'cum_amount']

    return tstock

def findTmValue(clockLs, tm, method='L'):
    maxIx = len(clockLs)
    orignIx = np.arange(maxIx)
    if method == 'F':
        ix = np.searchsorted(clockLs, clockLs+tm, side='left')
        ## if target future index is next tick, mask
        mask = (orignIx == (ix - 1))|(orignIx == ix)|(ix == maxIx)
    elif method == 'L':
        ## if target future index is last tick, mask
        ix = np.searchsorted(clockLs, clockLs-tm, side='right') - 1
        ix = ix - 1
        ix[ix<0] = 0
        mask = (orignIx == ix) | ((clockLs-(tm-0.5)).values < clockLs.values[0])
    ix[mask] = -1
    return ix

In [778]:
df_sta = c.read_file(f"/sta_alpha_eq_cn/{sta}/IC/sta{date}.parquet", "sta_alpha_eq_cn", sta)
df_sta = df_sta.rename(columns={"yHatBuy": f"yHatBuy_{sta[4:]}", "yHatSell": f"yHatSell_{sta[4:]}"})

In [779]:
universe = a.Read_Stock_Daily('com_md_eq_cn', f"chnuniv_{bench.lower()}", date, date).skey.unique()
df_sta = df_sta[df_sta.skey.isin(universe)].reset_index(drop=True)

In [798]:
# TODO: no need to read ask5q and bid5q if we have near limit status in DFS
df_md = a.Read_Stock_Tick('com_md_eq_cn', 'md_snapshot_l2', start_date=date, end_date=date, 
                       stock_list=universe, cols_list=['skey', 'date', 'time', 'ordering', 
                                                       'ask1p', 'ask1q', 'bid1p', 'bid1q', 'ask5q', 'bid5q',
                                                       'cum_volume', 'cum_amount', 'clockAtArrival'])
df_md = df_md[(df_md.bid1p != 0) | (df_md.ask1p != 0)]
df_md = df_md[(df_md['time'] >= 9.3 * 1e10) & 
              (df_md['time'] < 14.5655 * 1e10)].reset_index(drop=True)

In [801]:
# TODO: modify this when true return and near limit status is ready in DFS
df_md = _get_eva_md(df_md, 90, 180)

In [771]:
df_md.columns

Index(['skey', 'date', 'time', 'ordering', 'ask1p', 'ask1q', 'bid1p', 'bid1q',
       'ask5q', 'bid5q', 'cum_volume', 'cum_amount', 'index', 'session',
       'safeBid1p', 'safeAsk1p', 'mid', 'adjMid', 'sessionStartIx', 'L180s_ix',
       'F90s_ix', 'adjMid_F90s', 'curNearLimit', 'buyRet90s', 'sellRet90s',
       'curNearLimit_L180s', 'datetime', 'nearLimit_L180s_L0', 'nearLimit'],
      dtype='object')

In [799]:
df_md.head()

,skey,date,time,ordering,ask1p,ask1q,bid1p,bid1q,ask5q,bid5q,cum_volume,cum_amount,clockAtArrival
0,1600006,20200102,93000000000,97,4.63,26000,4.62,36000,12300,53600,45800,211596.0,1577928600000000
1,1600006,20200102,93003000000,98,4.63,54400,4.62,24400,25000,56600,122700,567541.0,1577928603000000
2,1600006,20200102,93006000000,99,4.63,8200,4.62,39700,40000,61600,167600,775272.0,1577928606000000
3,1600006,20200102,93009000000,100,4.63,20000,4.62,43600,40000,63600,169700,784974.0,1577928609000000
4,1600006,20200102,93012000000,101,4.63,27000,4.62,40000,40000,63600,173500,802530.0,1577928612000000

In [774]:
df_sta.shape

(2191658, 5)

In [775]:
df_alpha = df_md.merge(df_sta, on = ['skey','date','ordering'], how = 'left', validate = 'one_to_one')
df_alpha = df_alpha.sort_values(['skey','date','ordering']).reset_index(drop=True)

In [776]:
df_alpha['exchange'] = df_alpha['skey'].map(lambda x:str(x)[:1])
df_alpha['exchange'] = np.where(df_alpha['exchange'] == '1', 'SH', 'SZ')
df_alpha['mins_since_open'] = np.where(df_alpha['time'] <= 11.3e10, df_alpha['time'] - 9.3e10, df_alpha['time'] - 11e10) // 1e8

In [465]:
df_alpha

,skey,date,time,ordering,ask1p,ask1q,bid1p,bid1q,buyRet90s,sellRet90s,nearLimit,cum_volume,cum_amount,yHatBuy_90_1_1_1_l2,yHatSell_90_1_1_1_l2,exchange,mins_since_open
0,1600006,20200102,93000000000,97,4.63,26000,4.62,36000,-0.003357,0.001201,False,45800,2.115960e+05,-0.000547,-0.001604,SH,0.0
1,1600006,20200102,93003000000,98,4.63,54400,4.62,24400,-0.003357,0.001201,False,122700,5.675410e+05,-0.001559,-0.000589,SH,0.0
2,1600006,20200102,93006000000,99,4.63,8200,4.62,39700,-0.003357,0.001201,False,167600,7.752720e+05,-0.000918,-0.001234,SH,0.0
3,1600006,20200102,93009000000,100,4.63,20000,4.62,43600,-0.003357,0.001201,False,169700,7.849740e+05,-0.001024,-0.001127,SH,0.0
4,1600006,20200102,93012000000,101,4.63,27000,4.62,40000,-0.001413,-0.000748,False,173500,8.025300e+05,-0.001115,-0.001035,SH,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255959,2300529,20200102,145642000000,4557,70.98,200,70.92,6200,NaN,NaN,False,3794251,2.698897e+08,-0.000296,-0.000551,SZ,356.0
2255960,2300529,20200102,145645000000,4558,70.98,200,70.92,5900,NaN,NaN,False,3794251,2.698897e+08,-0.000300,-0.000546,SZ,356.0
2255961,2300529,20200102,145648000000,4559,70.98,200,70.93,100,NaN,NaN,False,3794251,2.698897e+08,-0.000496,-0.000202,SZ,356.0
2255962,2300529,20200102,145651000000,4560,70.98,200,70.93,100,NaN,NaN,False,3794251,2.698897e+08,-0.000374,-0.000325,SZ,356.0
2255963,2300529,20200102,145654000000,4561,70.98,100,70.93,100,NaN,NaN,False,3797351,2.701098e+08,0.000527,-0.001228,SZ,356.0

In [763]:
pd.options.display.max_columns =100

In [565]:
df_side = df_alpha[['skey','date','time','mins_since_open','ask1p','ask1q','nearLimit','exchange','cum_volume','cum_amount'] + ['yHatBuy_90_1_1_1_l2'] + [f"buyRet90s"]].copy()

In [566]:
df_side.columns = ['skey','date','time','mins_since_open','price','quantity','nearLimit','exchange','cum_volume','cum_amount'] + ['sta_90_1_1_1_l2'] + [f"actualRet90s"]
df_side['availNtl'] = (df_side['price'] * df_side['quantity'].clip(0, 500000)).clip(0, 500000)

In [592]:
df_side['sta_90_1_1_2_l2'] = df_side['sta_90_1_1_1_l2']

In [599]:
stat_data_all = df_side.groupby(['skey', 'exchange', 'date'])[['sta_90_1_1_1_l2', 'sta_90_1_1_2_l2']].agg([('mean', 'mean'), ('std', 'std'),('skew','skew'),('kurtosis',lambda x: x.kurtosis()),
                                                                        ('75p', lambda x: x.quantile(.75)), ('90p', lambda x: x.quantile(.90)),
                                                                        ('95p', lambda x: x.quantile(.95)), ('99p', lambda x: x.quantile(.99)),
                                                                        ('min', 'min'), ('max', 'max')])

In [716]:
stat_data_all.columns.names = ["sta_cat", ""]

In [717]:
stat_data_all = stat_data_all.stack("sta_cat").reset_index()

In [596]:
df_side.head()

,skey,date,time,mins_since_open,price,quantity,nearLimit,exchange,cum_volume,cum_amount,sta_90_1_1_1_l2,actualRet90s,availNtl,sta_90_1_1_2_l2
0,1600006,20200102,93000000000,0.0,4.63,26000,False,SH,45800,211596.0,-0.000547,-0.003357,120380.0,-0.000547
1,1600006,20200102,93003000000,0.0,4.63,54400,False,SH,122700,567541.0,-0.001559,-0.003357,251872.0,-0.001559
2,1600006,20200102,93006000000,0.0,4.63,8200,False,SH,167600,775272.0,-0.000918,-0.003357,37966.0,-0.000918
3,1600006,20200102,93009000000,0.0,4.63,20000,False,SH,169700,784974.0,-0.001024,-0.003357,92600.0,-0.001024
4,1600006,20200102,93012000000,0.0,4.63,27000,False,SH,173500,802530.0,-0.001115,-0.001413,125010.0,-0.001115

In [601]:
basic_cols = ['skey','date','time','exchange','mins_since_open',
                          'nearLimit','cum_volume','cum_amount']

In [605]:
df_side = df_side.melt(id_vars=basic_cols + ['availNtl', f"actualRet90s"], value_vars=['sta_90_1_1_1_l2', 'sta_90_1_1_2_l2'], 
                                       var_name="sta_cat", value_name='sta')

In [606]:
df_side

,skey,date,time,exchange,mins_since_open,nearLimit,cum_volume,cum_amount,availNtl,actualRet90s,sta_cat,sta
0,1600006,20200102,93000000000,SH,0.0,False,45800,2.115960e+05,120380.0,-0.003357,sta_90_1_1_1_l2,-0.000547
1,1600006,20200102,93003000000,SH,0.0,False,122700,5.675410e+05,251872.0,-0.003357,sta_90_1_1_1_l2,-0.001559
2,1600006,20200102,93006000000,SH,0.0,False,167600,7.752720e+05,37966.0,-0.003357,sta_90_1_1_1_l2,-0.000918
3,1600006,20200102,93009000000,SH,0.0,False,169700,7.849740e+05,92600.0,-0.003357,sta_90_1_1_1_l2,-0.001024
4,1600006,20200102,93012000000,SH,0.0,False,173500,8.025300e+05,125010.0,-0.001413,sta_90_1_1_1_l2,-0.001115
...,...,...,...,...,...,...,...,...,...,...,...,...
4511923,2300529,20200102,145642000000,SZ,356.0,False,3794251,2.698897e+08,14196.0,NaN,sta_90_1_1_2_l2,-0.000296
4511924,2300529,20200102,145645000000,SZ,356.0,False,3794251,2.698897e+08,14196.0,NaN,sta_90_1_1_2_l2,-0.000300
4511925,2300529,20200102,145648000000,SZ,356.0,False,3794251,2.698897e+08,14196.0,NaN,sta_90_1_1_2_l2,-0.000496
4511926,2300529,20200102,145651000000,SZ,356.0,False,3794251,2.698897e+08,14196.0,NaN,sta_90_1_1_2_l2,-0.000374
4511927,2300529,20200102,145654000000,SZ,356.0,False,3797351,2.701098e+08,7098.0,NaN,sta_90_1_1_2_l2,0.000527

In [746]:
def interval_filter(df, min_time=None, min_volume=None):
    """
    filter out consecutive opportunities if the arrival time of the opportunities are too close

    df should have columns time and cum_volume
    """
    records = df.to_records(index=False)
    remaining = [records[0]]

    volume_cond = True
    time_cond = True

    for oppo in records:
        if min_volume is not None:
            volume_cond = (oppo.cum_volume - remaining[-1].cum_volume > min_volume)

        if min_time is not None:
            time_cond = (abs((oppo.time - remaining[-1].time) / 1e6) > min_time)

        if volume_cond and time_cond:
            remaining.append(oppo)

    return pd.DataFrame(np.array(remaining))


def find_top_percent(df, col, target_number, total_number, min_time=1, min_volume=None, 
                     tolerance=0.01, termination=10):
    """
    find out the top x percent opportunities so that there are target number of opportunities remaining after filtering
    """
    target_number = math.ceil(target_number * (1 - (df.loc[df[col].isna() | df['nearLimit'], 'time']//1e6).nunique() / total_number))
    df_valid = df[df[col].notna() & ~df['nearLimit']]

    if (target_number < 50) or (len(df_valid) < 50):
        return None
    ratio = target_number / len(df_valid)
    for _ in range(termination):
        oppo_index = df_valid.index[df_valid[col] > df_valid[col].quantile(1 - ratio)]
        oppo = interval_filter(df_valid.loc[oppo_index], min_time, min_volume)

        if abs(len(oppo) - target_number) < tolerance * target_number:
            break
        
        # update the estimation of the filter rate
        filter_rate = len(oppo) / len(oppo_index)
        # update the ratio
        ratio = target_number / filter_rate / len(df_valid)
    
    return oppo

In [747]:
tmp = df_side.groupby(['skey', 'exchange', 'date', 'sta_cat']).apply(lambda x: find_top_percent(x, col="sta", target_number=240, total_number=4800)).reset_index(drop=True)

In [754]:
tmp

,skey,date,time,exchange,mins_since_open,nearLimit,cum_volume,cum_amount,availNtl,actualRet90s,sta_cat,sta
0,1600006,20200102,93237000000,SH,2.0,False,483800,2.235896e+06,2305.0,0.003730,sta_90_1_1_1_l2,0.000489
1,1600006,20200102,93246000000,SH,2.0,False,484500,2.239123e+06,45178.0,0.003363,sta_90_1_1_1_l2,0.000263
2,1600006,20200102,93301000000,SH,3.0,False,581400,2.686703e+06,402347.0,-0.000855,sta_90_1_1_1_l2,0.000897
3,1600006,20200102,93304000000,SH,3.0,False,607300,2.806370e+06,403273.0,-0.000855,sta_90_1_1_1_l2,0.000662
4,1600006,20200102,93307000000,SH,3.0,False,647500,2.992474e+06,227333.0,-0.000855,sta_90_1_1_1_l2,0.001627
...,...,...,...,...,...,...,...,...,...,...,...,...
232633,2300529,20200102,145536000000,SZ,355.0,False,3781851,2.690103e+08,78089.0,-0.000218,sta_90_1_1_2_l2,0.000550
232634,2300529,20200102,145539000000,SZ,355.0,False,3782151,2.690316e+08,7094.0,0.000488,sta_90_1_1_2_l2,0.000980
232635,2300529,20200102,145542000000,SZ,355.0,False,3782451,2.690529e+08,106485.0,-0.000166,sta_90_1_1_2_l2,0.000553
232636,2300529,20200102,145600000000,SZ,356.0,False,3783051,2.690955e+08,7092.0,NaN,sta_90_1_1_2_l2,0.001141
232637,2300529,20200102,145654000000,SZ,356.0,False,3797351,2.701098e+08,7098.0,NaN,sta_90_1_1_2_l2,0.000527

In [750]:
tmp.skey.nunique()

498

In [748]:
kkk = tmp.groupby(['skey', 'sta_cat'])['skey'].count()

In [751]:
kkk[kkk <100]

skey     sta_cat
1601608  sta_90_1_1_1_l2    84
         sta_90_1_1_2_l2    84
2002503  sta_90_1_1_1_l2    53
         sta_90_1_1_2_l2    53
Name: skey, dtype: int64

In [672]:
240 * 1 - (df_side[(df_side.skey==1600053) & ((df_side.sta.isna()) | df_side.nearLimit)].time // 1e6 ).nunique() / 4800

239.37354166666665

In [674]:
df_side[(df_side.skey==1600053) & ~df_side.nearLimit]

Empty DataFrame
Columns: [skey, date, time, exchange, mins_since_open, nearLimit, cum_volume, cum_amount, availNtl, actualRet90s, sta_cat, sta]
Index: []

In [587]:
(df_side.loc[df_side.sta_90_1_1_1_l2.notna() & ~df_side.nearLimit, 'time']//1e6).nunique()

14214

In [590]:
12000 / 14214 * 240

202.6171380329253

In [676]:
find_top_percent(df_side[(df_side.skey==1600053) & (df_side.sta_cat=='sta_90_1_1_1_l2')], col="sta", target_number=240, total_number=4800)

,index,skey,date,time,exchange,mins_since_open,nearLimit,cum_volume,cum_amount,availNtl,actualRet90s,sta_cat,sta
0,36797,1600053,20200102,93047000000,SH,0.0,True,208100,5820557.0,0.0,NaN,sta_90_1_1_1_l2,0.007465

In [684]:
240 * (1 - (df_side.loc[(df_side.skey==1600053) & (df_side.sta_cat=='sta_90_1_1_1_l2') & (df_side['sta'].isna() | df_side['nearLimit']), 'time']//1e6).nunique() / 4800)

89.65

In [711]:
k = (tmp.groupby(['skey', 'exchange', 
                                                     'date', 'sta_cat'])[['sta', 'availNtl',f"actualRet90s"]]
                                            .agg(yHatAvg=('sta', 'mean'), 
                                                 countOppo=('sta', 'count'),
                                                 availNtlAvg=('availNtl', 'mean'),
                                                 yHatHurdle=('sta', 'min'),
                                                 actualRetAvg=(f"actualRet90s", 'mean')))

In [707]:
def weighted_average(values, weights):
    indices = ~np.isnan(values)
    return np.average(values[indices], weights=weights[indices])

In [712]:
k['vwActualRetAvg'] = tmp.groupby(['skey', 'exchange', 'date', 'sta_cat']).apply(lambda x: weighted_average(x["actualRet90s"],weights=x['availNtl']))

In [714]:
k.reset_index()

,skey,exchange,date,sta_cat,yHatAvg,countOppo,availNtlAvg,yHatHurdle,actualRetAvg,vwActualRetAvg
0,1600006,SH,20200102,sta_90_1_1_1_l2,0.000661,232,221334.308017,0.000119,-0.000179,-0.000210
1,1600006,SH,20200102,sta_90_1_1_2_l2,0.000661,232,221334.308017,0.000119,-0.000179,-0.000210
2,1600008,SH,20200102,sta_90_1_1_1_l2,0.000485,232,94008.451121,0.000316,-0.000107,-0.000121
3,1600008,SH,20200102,sta_90_1_1_2_l2,0.000485,232,94008.451121,0.000316,-0.000107,-0.000121
4,1600017,SH,20200102,sta_90_1_1_1_l2,-0.000141,231,470133.008658,-0.000377,-0.000430,-0.000439
...,...,...,...,...,...,...,...,...,...,...
987,2300418,SZ,20200102,sta_90_1_1_2_l2,0.001279,232,179101.499397,0.000831,0.001340,0.001780
988,2300459,SZ,20200102,sta_90_1_1_1_l2,0.002131,232,358134.830043,0.001032,0.000843,0.001070
989,2300459,SZ,20200102,sta_90_1_1_2_l2,0.002131,232,358134.830043,0.001032,0.000843,0.001070
990,2300529,SZ,20200102,sta_90_1_1_1_l2,0.000687,232,96857.500000,0.000403,0.000271,0.000337
991,2300529,SZ,20200102,sta_90_1_1_2_l2,0.000687,232,96857.500000,0.000403,0.000271,0.000337

In [719]:
pd.merge(stat_data_all,k, on=['skey', 'exchange', 'date', 'sta_cat'], how='left')

,skey,exchange,date,sta_cat,75p,90p,95p,99p,kurtosis,max,mean,min,skew,std,yHatAvg,countOppo,availNtlAvg,yHatHurdle,actualRetAvg,vwActualRetAvg
0,1600006,SH,20200102,sta_90_1_1_1_l2,-0.000774,-0.000222,0.000161,0.001032,1.421659,0.002281,-0.001166,-0.004081,0.564955,0.000747,0.000661,232.0,221334.308017,0.000119,-0.000179,-0.000210
1,1600006,SH,20200102,sta_90_1_1_2_l2,-0.000774,-0.000222,0.000161,0.001032,1.421659,0.002281,-0.001166,-0.004081,0.564955,0.000747,0.000661,232.0,221334.308017,0.000119,-0.000179,-0.000210
2,1600008,SH,20200102,sta_90_1_1_1_l2,-0.000299,0.000188,0.000321,0.000608,-0.293224,0.000878,-0.001095,-0.004108,-0.697489,0.001106,0.000485,232.0,94008.451121,0.000316,-0.000107,-0.000121
3,1600008,SH,20200102,sta_90_1_1_2_l2,-0.000299,0.000188,0.000321,0.000608,-0.293224,0.000878,-0.001095,-0.004108,-0.697489,0.001106,0.000485,232.0,94008.451121,0.000316,-0.000107,-0.000121
4,1600017,SH,20200102,sta_90_1_1_1_l2,-0.000831,-0.000500,-0.000357,0.000067,-0.449916,0.001493,-0.001438,-0.003527,-0.318587,0.000780,-0.000141,231.0,470133.008658,-0.000377,-0.000430,-0.000439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2300418,SZ,20200102,sta_90_1_1_2_l2,0.000155,0.000559,0.000826,0.001526,2.102958,0.003555,-0.000200,-0.004332,0.153035,0.000634,0.001279,232.0,179101.499397,0.000831,0.001340,0.001780
996,2300459,SZ,20200102,sta_90_1_1_1_l2,-0.000718,0.000293,0.001024,0.002534,4.039085,0.008703,-0.001379,-0.010619,0.571410,0.001410,0.002131,232.0,358134.830043,0.001032,0.000843,0.001070
997,2300459,SZ,20200102,sta_90_1_1_2_l2,-0.000718,0.000293,0.001024,0.002534,4.039085,0.008703,-0.001379,-0.010619,0.571410,0.001410,0.002131,232.0,358134.830043,0.001032,0.000843,0.001070
998,2300529,SZ,20200102,sta_90_1_1_1_l2,-0.000067,0.000217,0.000420,0.000829,3.749775,0.002368,-0.000469,-0.006250,-0.829933,0.000630,0.000687,232.0,96857.500000,0.000403,0.000271,0.000337
999,2300529,SZ,20200102,sta_90_1_1_2_l2,-0.000067,0.000217,0.000420,0.000829,3.749775,0.002368,-0.000469,-0.006250,-0.829933,0.000630,0.000687,232.0,96857.500000,0.000403,0.000271,0.000337

In [752]:
import os

In [753]:
os.path.join('/data/home/marlowe/Marlowe/sta_eval', 'IC', 'top5p')

'/data/home/marlowe/Marlowe/sta_eval/IC/top5p'

In [814]:
tmp = a.Read_Stock_Tick('com_md_eq_cn', 'md_snapshot_mbd', 20200102, 20200102, stock_list=[2000001])

In [818]:
tmp.clockAtArrival.iloc[0]

1577928300000000.0

In [820]:
tmp.shape

(113623, 88)

In [824]:
tmp = c.read_file('/sta_md_eq_cn/sta_ret_l2/IC/ret20200102.parquet', 'sta_md_eq_cn', 'sta_ret_l2').dropna()

In [828]:
tmp[(tmp.skey==2000006) & (tmp.ordering >=81)].head(10)

,skey,date,ordering,passFilter,buyRet90s,sellRet90s,buyRet300s,sellRet300s,buyRet600s,sellRet600s
1283324,2000006,20200102,81,False,-0.007732,0.005939,0.000455,-0.002292,-0.004447,0.002620
1283325,2000006,20200102,82,True,-0.005878,0.000365,0.000635,-0.006145,-0.004481,-0.001038
1283326,2000006,20200102,83,True,-0.004334,0.002504,0.002543,-0.004373,-0.002710,0.000871
1283327,2000006,20200102,84,True,-0.006277,0.002617,0.000878,-0.004551,-0.004545,0.000872
1283328,2000006,20200102,85,True,-0.003676,0.001841,0.002840,-0.004668,-0.002714,0.000875
1283329,2000006,20200102,86,True,-0.006559,0.002902,0.001551,-0.005219,-0.006318,0.002658
1283330,2000006,20200102,87,True,-0.004682,0.002854,0.003513,-0.005336,-0.004615,0.002786
1283331,2000006,20200102,88,True,-0.003766,0.001932,0.003457,-0.005280,-0.004645,0.002817
1283332,2000006,20200102,89,True,-0.004240,0.002408,0.003542,-0.005365,-0.004575,0.002746
1283333,2000006,20200102,90,True,-0.002454,0.000611,0.005344,-0.007151,-0.002798,0.000956

In [829]:
tmp2 = c.read_file('/sta_md_eq_cn/sta_ret_mbd/IC/ret20200102.parquet', 'sta_md_eq_cn', 'sta_ret_mbd').dropna()

In [837]:
tmp2[(tmp2.skey==2000006) & (tmp2.ordering >=2)].head(10)

,skey,date,ordering,passFilter,buyRet90s,sellRet90s,buyRet300s,sellRet300s,buyRet600s,sellRet600s
1,2000006,20200102,2.0,False,-0.007610,0.005816,0.000455,-0.002293,-0.004465,0.002639
2,2000006,20200102,3.0,False,-0.007610,0.005816,0.000455,-0.002293,-0.004465,0.002639
3,2000006,20200102,4.0,True,-0.007610,0.005816,0.000455,-0.002293,-0.004465,0.002639
4,2000006,20200102,5.0,False,-0.007610,0.005816,0.000455,-0.002293,-0.004465,0.002639
5,2000006,20200102,6.0,False,-0.007610,0.005816,0.000455,-0.002293,-0.004465,0.002639
6,2000006,20200102,7.0,False,-0.007610,0.005816,0.000455,-0.002293,-0.004465,0.002639
7,2000006,20200102,8.0,True,-0.009431,0.005816,-0.001380,-0.002293,-0.006292,0.002639
8,2000006,20200102,9.0,False,-0.009431,0.005816,-0.001380,-0.002293,-0.006292,0.002639
9,2000006,20200102,10.0,False,-0.009431,0.005816,-0.001380,-0.002293,-0.006292,0.002639
10,2000006,20200102,11.0,False,-0.009431,0.005816,-0.001380,-0.002293,-0.006292,0.002639

In [7]:
tmp = reader.Read_Stock_Tick('com_md_eq_cn', 'md_snapshot_mbd',20200102, 20200102, stock_list=[2000001])

In [836]:
tmp.time.astype(int).astype(str).str.zfill(12).apply(lambda x: x[:2] + ":" + x[2:4] + ":" + x[4:6])

0         09:25:00
1         09:30:00
2         09:30:00
3         09:30:00
4         09:30:00
            ...
113618    14:56:59
113619    14:56:59
113620    14:56:59
113621    14:57:00
113622    15:00:00
Name: time, Length: 113623, dtype: object

In [11]:
(tmp.time // 1e6).nunique()

14065

In [16]:
k = tmp.groupby(['skey', 'date']).apply(lambda x: x['cum_volume'].mean())

In [19]:
k.name = 'a'

In [21]:
k.reset_index()

      skey      date             a
0  2000001  20200102  8.937289e+07

In [38]:
pd.read_pickle('/home/marlowe/Marlowe/sta_eval/IC/sta_90_1_1_1_mbd/sta_top5p/intraday/df_top5p_20200120.pkl')

,date,exchange,side,sta_cat,mins_since_open,countOppo,availNtlSum,vwActualRetAvg
0,20200120,SZ,buy,sta_90_1_1_1_l2,0,1198,1.651065e+08,0.001167
1,20200120,SZ,buy,sta_90_1_1_1_l2,1,735,1.161609e+08,-0.000400
2,20200120,SZ,buy,sta_90_1_1_1_l2,2,924,2.026690e+08,0.001265
3,20200120,SZ,buy,sta_90_1_1_1_l2,3,1100,2.233957e+08,-0.001287
4,20200120,SZ,buy,sta_90_1_1_1_l2,4,731,1.403196e+08,-0.000465
...,...,...,...,...,...,...,...,...
935,20200120,SZ,sell,sta_90_1_1_1_mbd,231,207,5.667992e+07,-0.000080
936,20200120,SZ,sell,sta_90_1_1_1_mbd,232,237,6.430239e+07,-0.000682
937,20200120,SZ,sell,sta_90_1_1_1_mbd,233,273,5.993848e+07,-0.000702
938,20200120,SZ,sell,sta_90_1_1_1_mbd,234,259,5.550252e+07,-0.000034
939,20200120,SZ,sell,sta_90_1_1_1_mbd,235,111,1.337156e+07,-0.000277

In [36]:
reader.Read_Stock_Tick('com_md_eq_cn', 'md_snapshot_l2', 20200203, 20200203, stock_list=[2000009]).bid1p.describe()

count    4283.000000
mean        0.984947
std         2.191368
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         5.990000
Name: bid1p, dtype: float64

In [29]:
sta = 'sta_90_1_1_1_l2'
date = 20200203

In [31]:
tmp = writer.read_file(f"/sta_alpha_eq_cn/{sta}/IC/sta{date}.parquet", "sta_alpha_eq_cn", sta)

In [32]:
tmp[tmp.skey==2000006]

           skey      date  ordering   yHatBuy  yHatSell
513986  2000006  20200203       106 -0.007369 -0.002660
513987  2000006  20200203       107 -0.007303 -0.002724
513988  2000006  20200203       108 -0.007319 -0.002709
513989  2000006  20200203       109 -0.007270 -0.002757
513990  2000006  20200203       110 -0.007283 -0.002744
513991  2000006  20200203       111 -0.007295 -0.002732
513992  2000006  20200203       112 -0.007297 -0.002731
513993  2000006  20200203       113 -0.007307 -0.002721
513994  2000006  20200203       114 -0.007305 -0.002722
513995  2000006  20200203       115 -0.007305 -0.002723
513996  2000006  20200203       116 -0.007317 -0.002711
513997  2000006  20200203       117 -0.007318 -0.002709
513998  2000006  20200203       118 -0.007322 -0.002706
513999  2000006  20200203       119 -0.007321 -0.002707
514000  2000006  20200203       120 -0.007314 -0.002713
514001  2000006  20200203       121 -0.007312 -0.002715
514002  2000006  20200203       122 -0.007297 -0.002730
514003  2000006  20200203       123 -0.007303 -0.002724
514004  2000006  20200203       124 -0.007305 -0.002723
514005  2000006  20200203       125 -0.007304 -0.002723